.metadata/*
.recommenders/*
RemoteSystemsTempFiles/*
.settings
.classpath
.project
target/
*.class
*.log
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

